.nav {
  /* background-color: #105033; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.menu-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  z-index: 999;
  background: rgb(12, 66, 42);
  background: linear-gradient(
    90deg,
    rgba(12, 66, 42, 1) 0%,
    rgba(18, 89, 57, 1) 69%,
    rgba(47, 139, 97, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.show-search,
.hide-search {
  position: absolute;
  top: 110px;
  z-index: 900;
  width: 100%;
  height: 200px;
  background: rgb(12, 66, 42);
  background: linear-gradient(
    90deg,
    rgba(12, 66, 42, 1) 0%,
    rgba(18, 89, 57, 1) 69%,
    rgba(47, 139, 97, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.show-blur {
  position: absolute;
  height: 100vh;
  position: absolute;
  top: 310px;
  z-index: 600;
  background-color: rgba(255, 255, 255, 0.519);
  width: 100%;
  filter: blur(10px);
  overflow: hidden;
  filter: brightness(0.1);
}

.hide-blur {
  display: none;
}

.child-show-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  border: none;
  background-color: #ffffff36;
  border-radius: 30px;
  width: 400px;
}

.search-input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 4px 10px;
  border-radius: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  line-height: 10px;
  color: #ffffff;
  padding: 15px;
}

::placeholder {
  color: #ffffff;

  font-style: italic;
}

.search-input:focus {
  border: none;
  outline: none;
}

.icon-class-search {
  width: 30px;
  color: whitesmoke;
  margin: 0px 0px;
  padding: 15px ;
}



.suggestions{
  overflow: hidden;
  overflow-y: auto; /* Enable vertical scrolling if needed */

}

.suggestion-headers{
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: start;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 10px;
  padding: 5px 15px;
  cursor: pointer;
  position: absolute;
}
.drop-menu-headers {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 10px;
  padding: 20px 0px;
}

.drop-menu-right {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-slide {
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 40vh !important;
  overflow: hidden !important;
  user-select: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(12, 66, 42);
  padding: 10px;
  color: white !important;
  background-color: transparent;
  width: 40px !important;
}
.menu-child-img {
  width: 100%;
  scale: 1.2;
  transition: 1s ease-in-out;
  padding-top: 20px;
}
.menu-child-img:hover {
  scale: 1.3;
  cursor: grab;
}
.hide-menu-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  z-index: 999;
  background: rgb(12, 66, 42);
  background: linear-gradient(
    90deg,
    rgba(12, 66, 42, 1) 0%,
    rgba(18, 89, 57, 1) 69%,
    rgba(47, 139, 97, 1) 100%
  );
}

.close-show-nav-scroll {
  color: red !important;
}
/* hiding close header */
.hide-header {
  display: none;
}

.catogory-headers {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: lighter;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #105033;
  width: 100%;
  height: 110px;
  user-select: none;
  background: rgb(19, 77, 0);
  background: linear-gradient(
    90deg,
    rgba(19, 77, 0, 1) 0%,
    rgba(39, 121, 9, 1) 70%,
    rgba(109, 210, 100, 1) 100%
  );
  background: rgb(12, 66, 42);
  background: linear-gradient(
    90deg,
    rgba(12, 66, 42, 1) 0%,
    rgba(18, 89, 57, 1) 69%,
    rgba(47, 139, 97, 1) 100%
  );
}

.configure-headers {
  background: rgb(12, 66, 42) !important;
  background: linear-gradient(
    90deg,
    rgb(19, 96, 62) 0%,
    rgb(36, 149, 98) 69%,
    rgb(57, 168, 118) 100%
  ) !important;
}

.second-nav {
  height: 0px;
  visibility: hidden;
}

.hide-second-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  z-index: 700 !important;
  background-color: #ffffff;
  position: fixed;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
}

.headers {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 10px;
  cursor: pointer;
}

.headers:hover {
  color: #229b63;
  transition: 0.3s ease-in-out;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
}
.logoimage {
  width: 100px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 6px;
}

.icon-class {
  width: 30px;
  color: whitesmoke;
  margin: 0px 0px;
}

@media (max-width: 1024px) {
  .nav-wrapper {
    height: 100px;
  }

  .headers {
    /* visibility: hidden; */
    display: none;
    width: 10px;
  }

  .drop-menu-headers {
    font-size: 16px;
  }
  .menu-header {
    width: 33.33%;
    visibility: visible;
  }

  .show-search {
    height: 170px;
  }

  .show-blur {
    top: 170px;
    filter: blur(10px);
    filter: brightness(0.1);
  }

  .show-search,
  .hide-search {
    height: 170px !important;
  }
}

@media (max-width: 768px) {
  .nav-wrapper {
    height: 80px;
  }

  .mySwiper,
  .none {
    display: none !important;
  }
  .headers {
    /* visibility: hidden; */
    width: 10px;
  }

  .logoimage {
    width: 70px;
  }

  .icon-class {
    width: 20px;
  }

  .show-search,
  .hide-search {
    height: 150px !important;
  }

  .show-blur {
    top: 150px;
    filter: blur(10px);
    filter: brightness(0.1);
  }

}

@media (max-width: 425px) {
  .icon-class {
    width: 20px;
  }
}

@media (max-width: 375px) {
  .nav-wrapper {
    height: 95px;
  }

  .headers {
    /* visibility: hidden; */
    width: 10px;
  }

  .logoimage {
    width: 70px;
  }
  .icon-class {
    width: 20px;
  }

  .show-search,
  .hide-search {
    height: 100px !important;
  }

  .show-blur {
    top: 100px;
    filter: blur(10px);
    filter: brightness(0.1);
  }

}

@media (max-width: 1024px) {
  .hide-second-nav {
    height: 70px;
  }
  .category > h1,
  .configure > h1 {
    font-size: 14px;
  }

  .show-search,
  .hide-search {
    top: 0px;
    height: 150px;
  }
}

@media (max-width: 425px) {
  .hide-second-nav {
    height: 60px;
  }
  .category > h1,
  .configure > h1 {
    font-size: 10px;
    font-weight: bold;
  }
  .catogory-headers {
    font-size: 8px !important;
    margin: 0px 10px !important;
    font-weight: bold;
  }

  .category {
    text-align: center;
  }
  .show-search,
  .hide-search {
    top: 0px;
    height: 80px;
  }

  .search-input {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-style: normal !important;
  }

  .child-show-search {
    height: 30%;
    width: 300px;
  }

  .show-search,
  .hide-search {
    height: 80px !important;
  }
  .show-blur {
    top: 80px;
    filter: blur(10px);
    filter: brightness(0.1);
  }

}

@media (max-width: 375px) {
  .hide-second-nav {
    height: 60px;
  }
  .category > h1,
  .configure > h1 {
    font-size: 8px;
    font-weight: bold;
  }
  .category {
    text-align: center;
  }
  .catogory-headers {
    font-size: 8px !important;
    font-weight: bold;
  }

  .drop-menu-headers {
    width: 100%;
    font-size: 14px;
    padding: 10px 0px;
    margin-left: 60px;
  }

  .show-search,
  .hide-search {
    height: 95px !important;
  }

  .show-blur {
    top: 95px;
    filter: blur(10px);
    filter: brightness(0.1);
  }

  .suggestions{
    display: none;
  }
}

@media (max-width: 320px) {
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    background: rgb(12, 66, 42);
    background: linear-gradient(
      90deg,
      rgba(12, 66, 42, 1) 0%,
      rgba(18, 89, 57, 1) 69%,
      rgba(47, 139, 97, 1) 100%
    );
  }

  .icon-class {
    width: 17px;
  }
  .menu {
    width: 33.33vw;
  }

  .logo {
    width: 33.33vw;
  }

  .search {
    width: 33.33vw;
  }

  .hide-second-nav {
    height: 60px;
    z-index: -1000 !important;
    border: 2px solid red;
  }
  .category > h1,
  .configure > h1 {
    font-size: 10px;
    margin: 0px 5px;
  }
  .category {
    text-align: center;
  }

  .catogory-headers {
    font-size: 10px !important;
  }

  .show-search,
  .hide-search {
    top: 0px;
    height: 95px;
  }

  .search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 15px;
  }

  .child-show-search {
    height: 30%;
    width: 260px;
  }

  .show-search,
  .hide-search {
    height: 95px !important;
  }

  .show-blur {
    top: 95px;
    filter: blur(10px);
    filter: brightness(0.1);
  }

  .suggestions{
    display: none;
  }

}
